body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #FFF;
}
canvas {
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #FFF;
  /*z-index: 1;*/
  background-image: url("/images/pong table.png");
  background-repeat: no-repeat;
  background-size: cover;

}
